[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

click = "*"
"enum34" = "*"
pathlib = "*"
requests = "*"
envparse = "*"
"pathlib2" = "*"


[dev-packages]

factory-boy = "*"
mock = "*"
pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest-sugar = "*"
pytest-cov = "*"
"psycopg2" = "*"
pathlib = "*"
"enum34" = "*"
"fa3f3bd" = {editable = true, path = "/data/work/wooyek/fakturownia-python"}
"bump2version" = "*"
check-manifest = "*"
codecov = "*"
coverage = "*"
detox = "*"
"flake8" = "*"
isort = "*"
pygments = "*"
readme-renderer = "*"
tox = "*"
sphinx = ">=1.6.5"
sphinx-rtd-theme = "*"
docutils = "==0.13.1"
sphinxcontrib-spelling = "*"
pyenchant = "*"
pytest-mock = "*"
pytest-lazy-fixture = "*"
pytest-doctest-ellipsis-markers = "*"
